.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.msg {
    color: red;
    margin-bottom: 0.8rem;
}

.form {
    background-color: rgb(255, 197, 127);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.formGrp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttonGrp {
    display: flex;
    justify-content: space-between;
    
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 247, 221);
    cursor: pointer;
}

.btn:hover {
    background-color: bisque;
}